 {% extends 'base.html.twig' %}
{% block title %}Facutre
{% endblock %}
{% block body %}
{% include "_partials/_nav.html.twig" %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Onglet Facture</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <div class="container mt-5">
    <h1>Onglet Facture</h1>

    <!-- Onglets -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="latest-tab" data-toggle="tab" href="#latest">Dernière Facture</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="all-tab" data-toggle="tab" href="#all">Toutes les Factures</a>
      </li>
    </ul>

    <!-- Contenu des onglets -->
    <div class="tab-content mt-3">
      <div class="tab-pane fade show active" id="latest">
        <h4>Dernière Facture</h4>
        <!-- Ici, vous pouvez intégrer le contenu de la dernière facture -->
        <p>Contenu de la dernière facture...</p>
      </div>
      <div class="tab-pane fade" id="all">
        <h4>Toutes les Factures</h4>
        <!-- Ici, vous pouvez intégrer une liste de toutes les factures -->
        <ul>
          <li>Facture 1</li>
          <li>Facture 2</li>
          <li>Facture 3</li>
          <!-- etc. -->
        </ul>
      </div>
    </div>
  </div>

  <!-- Scripts Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

{% endblock %}